.container{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10vh;
    background-color: cyan;
}
input{
    width: 95%;
    border: 1px solid grey;
    padding: 5px;
    margin: 12px 0px;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: none;
}
button{
    width: 100%;
    margin: 10px 0px;
    background-color:blue;
    padding: 5px ;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 5px;
}